# dependencies

#Typetest
typetext/node_modules
typetext/.pnp
typetext/.pnp.js
typetext/.DS_Store

#Calculator1x
Calculator1x/node_modules
Calculator1x/.pnp
Calculator1x/.pnp.js
Calculator1x/.DS_Store
